ul,
li,
form,
table,
tr,
th,
td,
blockquote {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    list-style: none;
    margin: 0;
    padding: 0
}
.qdef ul {
    padding-top: 10px
}

#sentenceSeg .sen_li {
    display: inline-block;
    padding-right: 10px;
    line-height: 19px;
    vertical-align: middle;
    margin: 0 0 10px 0;
    width: auto
}

#sentenceSeg .mm_div {
    margin-bottom: 10px;
    line-height: 19px;
    vertical-align: middle;
    padding: 0;
    display: inline-block
}
.sen_li {
    margin: 5px 0 2px 0;
    width: 100%
}

.sen_con {
    color: #333;
    padding: 2px 0;
    font-size: 14px;
    line-height: 22px
}

.sen_con strong {
    color: #c00
}

.sen_count {
    font-size: 14px
}

.sen_count a {
    color: #a1a1a1
}

.sen_count a:hover {
    color: #04c
}

.sen_count a:visited {
    color: #639
}
.sen_en>span {
    font-size: 14px;
    text-decoration: none;
    outline: medium none
}

.sen_en,
.sen_cn,
.sen_ime {
    width: 100%;
    font-size: 14px;
    padding-left: 0;
    margin-left: 0
}

.sen_en {
    line-height: 14px;
    margin-bottom: 2px;
    color: #000
}

.sen_cn {
    line-height: 22px;
    margin-bottom: 2px;
    color: #777
}

.sen_ime {
    line-height: 17.5px;
    color: #777;
    margin-bottom: 2px
}


.se_d,
.se_def_nu {
    line-height: 22px
}


.se_d {
    width: 20px;
    float: left
}

.se_lis,
.idmdef_li {
    margin-left: 20px
}


.se_buf {
    margin-left: 24px;
    float: left;
    margin-top: 4px
}

.se_d,
.def_pa,
.idmdef_li {
    color: #000;
    font-size: 14px
}
.se_div {
    margin-top: 10px;
    padding-bottom: 0;
    overflow: hidden
}

.se_li {
    list-style-type: none;
    padding-top: 0;
    padding-left: 0;
    clear: both
}

.se_li1 {
    margin-bottom: 5px;
    margin-left: 0;
    padding-left: 0;
    overflow: hidden;
    float: left;
    max-width: 508px
}

.se_n_d {
    float: left;
    width: 24px;
    padding-top: 3px
}

.qdef .hd_prUS,
.qdef .hd_pr {
    color: #777;
    font-size: 14px
}

.qdef .pos {
    width: 35px;
    font-size: 93%;
    background-color: #aaa;
    color: #fff;
    line-height: 18px;
    vertical-align: middle;
    text-align: center
}

.qdef .pos1 {
    margin-top: 2px
}

.qdef .web {
    background-color: #333
}

.qdef ul {
    padding-top: 10px
}

.qdef li {
    padding-top: 4px;
    font-weight: bold
}

.qdef .def {
    padding-left: 15px;
    line-height: 20px;
    vertical-align: top;
    font-size: 14px;
    width: 90%
}

.qdef .def a {
    color: #000
}

.qdef .def a:hover {
    color: #04c
}

.qdef .hd_div1 .p2-1 {
    font-weight: bold;
    color: #777
}

.qdef .hd_div1 {
    color: #777;
    padding-top: 9px
}

.qdef:after {
    clear: both
}

.qdef .hd_if a {
    margin: 0 6px 0 0;
    font-size: 14px
}

.qdef div.simg,
.qdef div.simgmore {
    margin-top: 10px
}

.qdef .simg {
    left: 1px
}

.qdef df_div {
    margin-top: 60px
}

.qdef .hd_tf_lh {
    line-height: 19px;
    padding-top: 3px
}

.qdef .wd_div {
    margin-top: 10px
}

.qdef .df_div {
    padding-top: 10px
}

.qdef .hd_area {
    float: none;
    overflow: hidden;
    margin-bottom: 0
}.qdef h1 {
    font-size: 100%
}